* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

main {
  padding-top: 56px;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 650px;
  margin-left: 256px;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.min-height-wrapper {
  min-height: 100%;
}

.intro-chunk {
  padding-top: 128px;
  max-width: 352px;
}

.title {
  margin-bottom: 50px;
}

.text-green {
  color: hsl(160, 100%, 30%);
}

.background-grey-light {
  background-color: hsl(0, 0%, 60%)
}

.background-white {
  background-color: hsl(0, 0%, 100%)
}

.border-bottom-dark-grey {
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: hsl(0, 0%, 30%);
}
