* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

main {
  padding-top: 56px;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 670px;
  margin: auto;
}

.min-height-wrapper {
  min-height: 100%;
}

.intro-chunk {
  padding-top: 64px;
  max-width: 416px;
  margin-bottom: 56px;
}

.title {
  margin-bottom: 56px;
}

.strapline {
  font-size: 1.25rem;
}

.card {
  padding-top: 1px;
}

.indented-heading {
  margin-right: 144px;
  margin-left: -40px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  background-color: hsl(45, 100%, 50%);
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: hsl(45, 100%, 40%);
}

.text-green {
  color: hsl(160, 100%, 30%);
}

.background-grey-light {
  background-color: hsl(0, 0%, 60%)
}

.background-white {
  background-color: hsl(0, 0%, 100%)
}

.border-bottom-dark-grey {
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: hsl(0, 0%, 30%);
}

.text-padding {
  padding-left: 32px;
  padding-right: 32px;
}
