* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 650px;
  margin-left: 256px;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.intro-chunk {
  margin-top: 128px;
  max-width: 352px;
}
